<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/style.css">
    <script src="/src/main/resources/static/js/cadastro.js" defer></script>
</head>
<body>
<div class="box">
    <h1 class="texto">Faça seu cadastro:</h1>
    <form action="">
        <input type="text" class="usuario" name="usuario" placeholder="Tipo de usuário">
        <input type="text" class="senha" name="senha" placeholder="Senha">
        <button type="submit">Cadastrar</button>
    </form>
</div>

<footer>
    <p class="texto" style="font-size: 12px; margin-top: 50px;">Sistema Bar v1.0</p>
</footer>
</body>
</html>