<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consumo da Mesa</title>

    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/cliente.js" defer></script>
</head>
<body>
<div class="box">
    <h1 class="texto">Comanda da Mesa <span id="numero-mesa">...</span></h1>

    <h3 class="texto">Itens Consumidos</h3>
    <table class="consumo-tabela">
        <thead>
        <tr>
            <th>Item</th>
            <th>Qtd.</th>
            <th>Valor</th>
        </tr>
        </thead>
        <tbody id="lista-itens">
        </tbody>
    </table>

    <h3 class="texto">Resumo da Conta</h3>
    <div class="sumario-total">
        <p class="texto-info">Subtotal (Comidas): <span id="subtotal-comida">R$ 0,00</span></p>
        <p class="texto-info">Subtotal (Bebidas): <span id="subtotal-bebida">R$ 0,00</span></p>
        <p class="texto-info">Couvert (Entrada): <span id="valor-couvert">R$ 0,00</span></p>
        <p class="texto-info-gorjeta">Gorjeta (Serviço): <span id="valor-gorjeta">R$ 0,00</span></p>

        <p class="texto-info-pago">Total Pago: <span id="valor-pago">R$ 0,00</span></p>

        <hr class="divisor">

        <h2 class="texto-total">SALDO DEVEDOR: <span id="saldo-devedor">R$ 0,00</span></h2>
    </div>

    <p class="texto" id="status-conta" style="margin-top: 20px;">Status: ...</p>
</div>

<footer>
    <p class="texto" style="font-size: 12px; margin-top: 50px;">Sistema Bar v1.0</p>
</footer>
</body>
</html>